name: Flutter Web CI/CD

on:
  push:
    branches:
      - main

jobs:
  cd:
    permissions:
      pages: write
      id-token: write
    runs-on: ubuntu-latest
    env:
      PATH_TO_APP: '.'
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Pages
        id: pages
        uses: actions/configure-pages@v5

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
          flutter-version: '3.35.3'  
          cache: true

      - name: Install dependencies 
        working-directory: ${{ env.PATH_TO_APP }} 
        run: flutter pub get

      - name: Build web for Pages
        working-directory: ${{ env.PATH_TO_APP }}
        run: flutter build web --release --wasm --base-href /

      - name: Upload web build artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ${{ env.PATH_TO_APP }}/build/web

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
